* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #fff;
}

body {
    background: #000;
    width: 100vw;
}

.buttonDefault{
    background: #fdd401;
}
.buttonDefault:hover{
    transform: scale(1.1,1.02);
    transition:0.5s;
}