@model FBClone.Models.Post

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="row py-4 px-2 postContent justify-content-around">
        <div class="col-1">
            <img class="smallImg" src="~/UsersMedia/ProfilePictures/@Session["UserImg"]" alt="Alternate Text" />
        </div>
        <div class="col-10 d-flex align-items-center">
            <div class="input-group d-flex">
                @Html.EditorFor(model => model.Details, new { htmlAttributes = new { @class = "darkInput col-11", @placeholder = "What's on your mind..." } })
                <div class="input-group-append col-1">
                    <button class="btn darkBtn" name="Post" type="submit" style="border-radius:0 8px 8px 0;">Post</button>
                </div>
            </div>
        </div>
    </div>
}

