@using FBClone.Models
@{
    ViewBag.Title = "Search";
}

<h2>Search</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

<div class="form-horizontal">
    <h4>User</h4>
    <hr />
    <div class="form-group">
        <div class="col-md-10">
            <input class="form-control text-box single-line" id="Keyword" name="Keyword" type="text" value="">
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Search" class="btn btn-default" />
        </div>
    </div>
</div>
}

@if(Model != null)
{
   <div> @Model.FName</div>
}
