@model IEnumerable<FBClone.Models.User>

@if (Model != null)
{
    foreach (var item in Model)
    {

        <div class="row py-4 px-2 justify-content-around">
            <a href="/Account/FetchUser/@item.UserId" class="col-4">
                <div class="col-3">
                    <img class="smallImg" src="~/UsersMedia/ProfilePictures/@Html.DisplayFor(modelItem => item.ImgUrl)" alt="Alternate Text" />
                </div>
                <div class="col-9 d-flex align-items-center">
                    <p> @Html.DisplayFor(modelItem => item.FName) @Html.DisplayFor(modelItem => item.LName) </p>
                </div>
            </a>
            <div class="col-3 d-flex align-items-center">
                @Html.ActionLink("Remove", "RemoveFriend", new { id = item.UserId }, new { @class = "redBtn mx-3" })
            </div>
        </div>
    }
}
else
{
    <p class="pt-3"> @ViewBag.error </p>
}