@model IEnumerable<FBClone.Models.User>
@{
    ViewBag.redirect = "UserProfile";
}
<table class="table">


    @{

        foreach (var item in Model)
        {
            <div class="row py-4 px-2 justify-content-around">
                <a href="/Search/FetchUser/@item.UserId" class="col-4">
                    <div class="col-12 d-flex align-items-center">
                        <img class="smallImg" src="~/UsersMedia/ProfilePictures/@Html.DisplayFor(modelItem => item.ImgUrl)" alt="Alternate Text" />
                        <p class="mx-4"> @Html.DisplayFor(modelItem => item.FName) @Html.DisplayFor(modelItem => item.LName) </p>
                    </div>
                </a>
                <div class="col-3 d-flex align-items-center">
                    @Html.ActionLink("Send Friend Request", "RemoveFriend", new { id = item.UserId }, new { @class = "lightBtn mx-3" })
                </div>
            </div>
        }
        if (!Model.Any())
        {
            <p>No Results Found for @ViewBag.keyword<a href="/Search/Search"> One More Try</a></p>
        }
    }

</table>
